$myFont:'Miss Fajardose', cursive;
$breakpoints: (
	s: 312px,

	m: 696px,

	l: 1180px
);
@mixin breakpoint( $breakpoint ) {
    @if map-has-key( $breakpoints, $breakpoint ) {
        @media ( min-width: #{ map-get( $breakpoints, $breakpoint ) } ) {
            @content;
        }
    } @else if type_of( $breakpoint ) == number and unit( $breakpoint ) == px or unit( $breakpoint ) == em or unit( $breakpoint ) == rem {
        @media (min-width: $breakpoint ) {
            @content;
        }
    } @else {
        @warn "No value could be retrieved from `#{$breakpoint}`. "
               + "It is either not defined in the `$breakpoints` map, or it is an invalid number of px, em, or rem.";
    }
}

@mixin Background{
    position: relative;
    text-align: center;
   &:after{
        content:'';
        opacity:0.6;
        position: fixed;
        top:0;
        left:0;
        background-image: url(./header.jpeg);
        background-color: pink;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        margin:0 auto;
        text-align: center;
        z-index:-1;
        overflow: scroll;
   }
}
@mixin theButton{
-moz-box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	-webkit-box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9E8997), color-stop(1, #523247));
	background:-moz-linear-gradient(top,  rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:-webkit-linear-gradient(top,  rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:-o-linear-gradient(top,  rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:-ms-linear-gradient(top,  rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:linear-gradient(to bottom,  rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=' rgba(204, 146, 185, 0.562)', endColorstr='#52324777',GradientType=0);
  opacity: 1;
    background-color: rgba(204, 146, 185, 0.562);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2rem;
	font-weight:bold;
	display: inline-block;
	text-decoration:none;
    text-shadow:0px 1px 0px rgba(83, 42, 70, 0.404);
    padding:1rem 3.5rem;
    outline: none;
}

@mixin theButtonH{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #523247), color-stop(1, #9E8997));
	background:-moz-linear-gradient(top, #523247 5%, #9E8997 100%);
	background:-webkit-linear-gradient(top, #523247 5%, #9E8997 100%);
	background:-o-linear-gradient(top, #523247 5%, #9E8997 100%);
	background:-ms-linear-gradient(top, #523247 5%, rgb(158, 137, 151) 100%);
	background:linear-gradient(to bottom, #523247 5%, #9E8997 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#523247', endColorstr='#9E8997',GradientType=0);
	background-color:#523247;
}
@mixin myInput{
     -moz-box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	-webkit-box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #52324777), color-stop(1, rgba(204, 146, 185, 0.562)));
	background:-moz-linear-gradient(top, #52324777 5%, rgba(204, 146, 185, 0.562) 100%);
	background:-webkit-linear-gradient(top, #52324777 5%, rgba(204, 146, 185, 0.562) 100%);
	background:-o-linear-gradient(top, #52324777 5%, rgba(204, 146, 185, 0.562) 100%);
	background:-ms-linear-gradient(top, #52324777 5%, rgba(204, 146, 185, 0.562) 100%);
	background:linear-gradient(to bottom, #52324777 5%, rgba(204, 146, 185, 0.562) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#52324777', endColorstr='rgba(204, 146, 185, 0.562)',GradientType=0);
	background-color:#52324777;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgba(139, 59, 113, 0.562);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2rem;
	font-weight:bold;
   outline: none;
	text-decoration:none;
    text-shadow:0px 1px 0px rgba(204, 146, 185, 0.562);
    padding:1rem 3.5rem;
}
@mixin NavElement{
     -moz-box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	-webkit-box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	box-shadow:inset 0px 1px 0px 0px rgba(83, 42, 70, 0.404);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(204, 146, 185, 0.562)), color-stop(1, #52324777));
	background:-moz-linear-gradient(top, rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:-webkit-linear-gradient(top, rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:-o-linear-gradient(top, rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:-ms-linear-gradient(top, rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	background:linear-gradient(to bottom, rgba(204, 146, 185, 0.562) 5%, #52324777 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(204, 146, 185, 0.562)', endColorstr='#52324777',GradientType=0);
	background-color:rgba(204, 146, 185, 0.562);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2rem;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px rgba(204, 146, 185, 0.562);
    padding:1rem 2.5rem;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 0.62rem;
}
body{
    font-family: 'Lora', serif;
}
.main{
    position: relative;
     text-align: center;
   &:after{
       content:'';
       opacity:0.6;
       position: absolute;
       top:0;
       left:0;
        background-image: url(./header.jpeg);
        width: 100vw;
        height: 100vh;
        margin:0 auto;
        text-align: center;
        z-index:-1;
    }
}

.navigation{
    ul{
        list-style: none;
        font-size: 3rem;
        margin: 0 auto;
            a{
            @include theButton();
            &:hover{
            @include theButtonH();
            }
            &:active{
                position:relative;
            }
        }
    }
}
.addNew{
    @include Background();
    height: 100vh;
    overflow: scroll;
     .addForm{
        @include breakpoint(s){
            width:95vw;
            margin: 0 auto;
         }
         @include breakpoint(m){
            width:40vw;
            margin: 7rem auto;
         }
          @include breakpoint(l){
            width:28vw; 
            margin: 10rem auto; 
         }
         background-color: rgba(119, 95, 143, 0.336);
         height: 60vh;
         font-size:2.5rem;
         font-weight: bold;
         color:white;
         text-align: center;
         overflow: scroll;
        border-radius: 4rem;
        text-transform: uppercase;
         button{
             @include theButton();
                &:hover{
                    @include theButtonH();
                }
         }
     }
}
.name,
.title,
.amount,
.directions{
   @include myInput();
   margin:auto;
    display: block;
}

.one{
   text-align: center;
}
.search{
     @include myInput();
        
}
.FindMore{
    @include Background();
    height: 100%;
    overflow: scroll;
}
.FindNew{
    @include myInput(); 
}
.FindButton{
    @include theButton();
    display:inline !important;
    &:hover{
        @include theButtonH();
        }
    }
.ShowMine{
    @include Background();
    height: 100vh;
    overflow: scroll;
}
.MyRecipes{
    margin-top: 3rem;
    display: grid;
    grid-gap: 0.5rem;
    padding:1rem;
    @include breakpoint(s){
        grid-template-columns: auto;
     }
     @include breakpoint(m){
        grid-template-columns: auto auto;
     }
      @include breakpoint(l){
        grid-template-columns: auto auto auto;
            }
}
.RecipeOne{
    @include breakpoint(s){
        width:95vw;
    }
    @include breakpoint(m){
        width:45vw;
    }
   @include breakpoint(l){
    width: 33vw;
   }
    background-color: rgba(175, 166, 166, 0.411);
    opacity: 1;
    height:20vh;
    overflow: scroll;
    position: relative;
  h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size:2rem;
    color: rgba(51, 34, 45, 0.945);
  }
  .delete{
      @include theButton();
        padding:0.2rem 0.6rem;
        position: absolute;
        bottom:0;
        right:0;
        &:hover{
            @include theButtonH();
              }
        }
}

.FindMore
{
@include Background();
height: 100vh;
 overflow: scroll;
 opacity:0.9;
}
.ShowAll{
    @include breakpoint(s){
 grid-template-columns: auto;
    }
     @include breakpoint(l){
         grid-template-columns: auto auto;
    }
 margin-top: 3rem;
    display: grid;
 
 grid-gap: 0.5rem;
  padding:1rem;
}
.RecipeOneNew{
     @include breakpoint(s){
 width: 85vw;
  height:40vh;
    }
     @include breakpoint(l){
     width: 49vw;
  height:32vh;
    }
 background-color: rgba(143, 136, 136, 0.562);
   opacity: 1;

  overflow: hidden;
  position: relative;
img{
     @include breakpoint(s){
  width: 45%;
    }
     @include breakpoint(l){
  width: 40%;
    }
    position: absolute;
    top:0;
    left:0;
}
h3{
    top:2rem;
    right: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size:2rem;
    position: absolute;
    color: rgb(100, 7, 7);
}
  .RecipeLink{
      @include theButton();
            padding:0.2rem 0.6rem;
            position: absolute;
            bottom:1rem;
            right:0; 
  }
}

.navigation{
    ul{
        li{
            @include breakpoint(s) {
			margin: 1rem auto;
            display: block;	
		}
		    @include breakpoint(m) {
			margin: 1rem auto;
            display: block;
		}
		    @include breakpoint(l) {
            display: inline-block;
            margin: 1rem 5rem;
        }
    }}
}

  .quotes{
       @include breakpoint(s){
        font-family: $myFont;  
        font-size: 6rem;
        text-align: center;
        margin-top: 1rem;
       font-weight: bold;
       }
       @include breakpoint(l){
       font-family: $myFont;  
       font-size: 6rem;
       text-align: right;
       margin-right: 9rem;
       margin-top: 9rem;
       font-weight: bold;
       }
  }
  .NavBar{
        @include breakpoint(s){
            width: 100vw;
            background-color: rgba(51, 34, 45, 0.034);
            height: 4rem;
   ul{
    list-style: none;
    font-size: 1rem;
    float: right;
li{
    display: inline-block;  
}
 a{
@include NavElement();
padding: 0.5rem .4rem;
font-size: 1.5rem;
 &:hover{
@include theButtonH();
 }
 &:active{
     position:relative;
    }
 }
    } 

        }
         @include breakpoint(l){
            width: 100vw;
            background-color: rgba(51, 34, 45, 0.185);
            height: 7rem;
   ul{
    list-style: none;
    font-size: 2rem;
    float: right;
li{
    display: inline-block;  
    margin: 1rem 0rem; 
}
 a{
    @include NavElement();
    padding: 1rem 1rem;
 &:hover{
    @include theButtonH();
 }
 &:active{
    position:relative;
            }
        }
    } 
}
}

.mainTitle {
     @include breakpoint(s){
    font-family: $myFont;
    letter-spacing: .2rem;
    font-size: 5rem;
    }
  
     @include breakpoint(m){
    font-family: $myFont;
    letter-spacing: 1rem;
    font-size: 8rem;
    }
    h1{
    @include breakpoint(s){
    padding-top:2rem;
    }
  
     @include breakpoint(m){
        padding-top:15rem;
        margin-bottom:1rem;
    }
}
}
.error{
    color:red;
    font-size:1.5rem;
    margin:-0.5rem 0 0 2rem;
}